<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/style.css" type="text/css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
		<title>Eat All The Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
