h1 {
    color: orange !important;
    margin-left: 35%;
}

.inputBurger {
    font-size: 30px;
    color: orange !important;
    margin-left: 5%;
    font-weight: bold;
    color: black;
}

body {
    background-image: url("../assets/img/burgers.jpg");
    background-size: cover;
}

#newBurger {
    font-size: 28px;
    color: orange !important;
}

.create-form {
    text-align: center;
    margin-top: 50px;
}

.newBurger {
    font-size: 18px;
}